/* Health App */
a {
  color: lightgrey;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: lightgrey;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: clamp(0.65em, 0.75em + 0.5vw, 2em);
  margin: 0;
  padding: 0;
}

button {
  display: block;
}

input {
  margin: 1vh 0 1vh 0;
}

label {
  display: block;
}

li {
  background-color: #00008B;
  border-radius: 5px;
  color: white;
  padding: 1vw;
}

nav a {
  margin: 1.5vh 1.5vw 1.5vh 1.5vw;
}

ul {
  list-style-type: none;
  margin: 1vh 1.5vw 1vh 1.5vw;
  padding: 0;
}

#flexContainerAuth {
  align-items: flex-start;
  background-image: url('/images/weight-lifting-photo-1.jpg');
  background-position: 50% 70%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

#flexItemAuth {
  align-items: center;
  background-color: #00008B;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
  margin-block-start: 10vh;
  margin-inline-start: 10vw;
  min-height: 300px;
  min-width: 250px;
  width: 30vw;
}

#flexContainerData {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#flexContainerData > h1 {
  margin: 10vh 1.5vw 0 1.5vw;
}

#flexContainerAnalytics {
  display: flex;
}

#flexItemInput {
  flex: 1 1 25%;
  padding: 1vh 1.5vw 1vh 1.5vw;
}

#flexItemPlot {
  align-items: center;
  display: flex;
  flex: 1 1 75%;
  flex-direction: column;
}

#flexContainerCreate {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#flexItemCreate {
  align-items: center;
  background-color: #00008B;
  border-radius: 5px;
  color: white;
  display: flex;
  height: 50vh;
  justify-content: center;
  min-height: 300px;
  min-width: 250px;
  width: 40vw;
}

#flexItemCreate input {
  min-width: 200px;
}

#flexContainerEdit {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#flexItemEdit {
  align-items: center;
  background-color: #00008B;
  border-radius: 5px;
  color: white;
  display: flex;
  height: 50vh;
  justify-content: center;
  min-height: 300px;
  min-width: 250px;
  width: 40vw;
}

#flexItemEdit input {
  min-width: 200px;
}

#flexContainerList {
  display: flex;
  margin: 1vh 0 0 0;
}

#flexItemList1 {
  display: flex;
  flex: 1 1 40%;
}

#flexItemList2 {
  display: flex;
  flex: 1 1 20%;
}

#flexItemList3 {
  display: flex;
  flex: 1 1 10%;
}

#flexItemList4 {
  display: flex;
  flex: 1 1 10%;
}

#flexContainerMeasurements {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
}

#flexContainerMeasurements > h1 {
  margin: 10vh 1.5vw 0 1.5vw;
}

#flexContainerNav {
  background-color: #00008B;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

#flexContainerStatistics {
  background-color: #00008B;
  border-radius: 5px;
  color: white;
  display: flex;
  width: 90%;
}

.flexItemStatistics {
  display: flex;
  flex: 1 1 33%;
  justify-content: center;
}

.flexItemNavLeft {
  display: flex;
  flex-basis: 70%;
  justify-content: flex-start;
}

.flexItemNavRight {
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}

.vega-embed {
  width: 90%;
}

@media (max-width: 600px) {
  #flexContainerAnalytics {
    flex-direction: column;
  }
  #flexItemInput > label {
    display: inline;
  }
  #flexItemInput > button {
    display: inline;
    margin-left: 1vw;
  }
}
